@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@1,600&display=swap");
.App {
  width: 810px;
  height: auto;
  position: relative;
  font-family: "Comfortaa", cursive;
}
.container {
  position: relative;
  left: 200px;
}
