@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@1,600&display=swap");

.card {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 40px;
  font-family: "Comfortaa";
}

.WeatherForecast-day {
  font-size: 17px;
  font-weight: 800;
  font-family: "Comfortaa";
}
.weatherEmoji {
  font-size: 25px;
  margin: 0;
}
.WeatherForecast-temperatures {
  font-size: 15px;
  font-family: "Comfortaa";
}
